<section class="bg_image_15 spt4rem spb365rem">
    <div class="container">
        <div class="sc_content content_wrap">
            <div class="sc_section aligncenter">
                <div class="sc_section_inner">
                    <h2 class="sc_title sc_title_style_4 margin_top_no margin_bottom_small white">{{ text_snippets.zumkontakt_titel }}</h2>
                    <div class="sc_emailer sc_emailer_opened">
                        <div class="sc_emailer_form">
                            <a href="{% url 'website:contact' %}"
                               class="sc_emailer_button sc_button sc_button_style_filled style_color_light">{{ text_snippets.zumkontakt_button }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
