<section class="spt47rem">
    <div class="container-fluid">
        <div class="sc_section aligncenter">
            <div class="sc_section_inner">
                <h5 class="sc_title margin_bottom_tiny">{{ text_snippets.galerie_vortitel }}</h5>
                <h1 class="sc_title margin_top_null margin_bottom_tiny-">{{ text_snippets.galerie_titel }}</h1>
            </div>
        </div>
        <article class="myportfolio-container minimal-light" id="esg-grid-4-1-wrap">
            <div id="esg-grid-4-1" class="esg-grid">
                <ul>
                    {% for image in about_gallery %}
                        <li class="filterall eg-washington-wrapper" data-cobblesw="1"
                            data-cobblesh="1">
                            <div class="esg-media-cover-wrapper">
                                <div class="esg-entry-media">
                                    <img src="{{ image.image.url }}" alt="">
                                </div>
                                <div class="esg-entry-cover esg-fade" data-delay="0">
                                    <div class="esg-overlay esg-fade eg-washington-container"
                                         data-delay="0">
                                    </div>
                                    <div class="esg-center eg-washington-element-0-a esg-falldown"
                                         data-delay="0.1">
                                        <a class="eg-washington-element-0 esgbox"
                                           href="{{ image.image.url }}"
                                           data-lgtitle="{{ image.image.url }}">
                                            <i class="eg-icon-search"></i>
                                        </a>
                                    </div>
                                    <div class="esg-center eg-washington-element-8 esg-none esg-clear">
                                    </div>
                                    <div class="esg-center eg-washington-element-9 esg-none esg-clear">
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </article>
        <div class="clear"></div>
    </div>
</section>