{% extends "layout/sub.html" %}


{% load static %}


{% block sub %}
	<div class="top_panel_title top_panel_style_8 breadcrumbs_present scheme_original">
		<div class="top_panel_title_inner top_panel_inner_style_8 breadcrumbs_present_inner">
			<div class="content_wrap">
				<a href="{#% url 'website:menu_list' %#}" class="sc_button sc_button_square sc_button_style_filled sc_button_size_small" style="margin-top: 16px;" target="_blank">Zur Druckversion</a>
				<div class="breadcrumbs"><a class="breadcrumbs_item home" href="{% url 'website:index' %}">The Corner House</a><span class="breadcrumbs_delimiter"></span><span class="breadcrumbs_item current">Menü</span>
				</div>
			</div>
		</div>
	</div>
	<div class="page_content_wrap page_paddings_no">
		<div class="content">
			<section class="">
				<div class="container">
					<div class="sc_section">
						<div class="sc_section_inner">
							<h5 class="sc_title sc_align_center mtn03em mb03em">
                                {{ text_snippets.vortitel }}
							</h5>
							<h1 class="sc_title sc_align_center margin_top_null margin_bottom_large">{{ text_snippets.titel }}</h1>
							<div id="sc_tabs_296946796" class="sc_tabs sc_tabs_style_1 title_position_center" data-active="0">
								<ul class="sc_tabs_titles">
									{% for key, values in menu.items %}
										<li class="sc_tabs_title first custom-3658">
											<a href="#sc_tab_1_{{ forloop.counter }}" class="theme_button" id="sc_tab_1_{{ forloop.counter }}_tab">{{ key }}</a>
										</li>
									{% endfor %}
								</ul>
								{% for key, values in menu.items %}
									<div id="sc_tab_1_{{ forloop.counter }}" class="sc_tabs_content {% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %} {% if forloop.first %}first{% endif %}">
										{% for left_right in values.content %}
											<div class="sc_section column-1_2">
												<div class="sc_section_inner">
													<ul class="sc_list sc_list_style_menu">
														{% for me in left_right %}
															<li class="sc_list_item {% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %} {% if forloop.first %}first{% endif %}">
																<div class="columns_wrap sc_columns">
																	<div class="column-5_7 sc_column_item odd first">
																		<h3 class="sc_title">{{ me.name|truncatechars:23 }}</h3>
																		{% if me.ppq.unit != 'NONE' %}
																			<h5 class="sc_title">{{ me.ppq.content }} {{ me.ppq.unit }}</h5>
																		{% endif %}
																		<!-- <h6 class="sc_title">new</h6> -->
																		<div class="text_column mbn_ne">
																			<p>{{ me.description }}</p>
																		</div>
																	</div><div class="column-2_7 sc_column_item odd sc_ar">
																		<h2 class="sc_title">{{ me.ppq.price }} €</h2>
																	</div>
																</div>
															</li>
														{% endfor %}
													</ul>
												</div>
											</div>
										{% endfor %}
										<div class="container">
											<div class="sc_section alignright">
												<div class="sc_section_inner">
													<figure class="sc_image  sc_image_shape_square margin_top_large- margin_bottom_huge">
														<img src="{{ values.img }}" alt="burger" width="315" />
													</figure>
												</div>
											</div>
										</div>
									</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
{% endblock sub %}