{% extends "layout/base.html" %}


{% load static %}

{% block header %}
    <link rel="stylesheet" type="text/css" media="all" href="css/slider.css" />
{% endblock %}

{% block body %}


    {% block start %}

        <div class="body_wrap header_style_8">
            <div class="page_wrap">
                <div class="top_panel_fixed_wrap"></div>
                <header class="top_panel_wrap top_panel_style_8 scheme_original cdnone">
                    <div class="top_panel_wrap_inner top_panel_inner_style_8 top_panel_position_above">
                        <div class="top_panel_middle">
                            <div class="content_wrap">
                                <div class="contact_info">
                                    <address class="contact_address icon-location">
                                        <div class="custom-1352">
                                            {{ text_snippets_general.adresse|linebreaks }}
                                        </div>
                                    </address>
                                </div>
                                <div class="contact_logo">
                                    <div class="logo">
                                        <a href="{% url 'website:index' %}">
                                            <img src="{% static 'img/logo_normal.png' %}" class="logo_main" alt="logo" style="width: 256px">
                                            <img src="{% static 'img/logo_normal.png' %}" class="logo_fixed" alt="logo" style="width: 200px">
                                    </div>
                                </div>
                                <div class="menu_pushy_wrap clearfix">
                                    <a href="#" class="menu_pushy_button">
                                        MENÜ
                                        <span class=" icon-menu"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>

    {% endblock start %}


                {% include "modules/navigation.html" %}


                {% block sub %}{% endblock sub %}


    {% block end %}

                <footer class="contacts_wrap scheme_original">
                    <div class="contacts_wrap_inner" style="padding: 0;"></div>
                </footer>
                {% include "modules/footer.html" %}
            </div>
        </div>
        <a href="#" class="scroll_to_top icon-up" title="Scroll to top"></a>
        <script type='text/javascript' src='js/vendor/jquery-1.12.3.min.js'></script>
        <script type='text/javascript' src='js/vendor/jquery-migrate.min.js'></script>
        <script type="text/javascript" src="js/vendor/essential-grid/public/assets/js/lightbox.js"></script>
        <script type="text/javascript" src="js/vendor/essential-grid/public/assets/js/jquery.themepunch.tools.min.js"></script>
        <script type="text/javascript" src="js/vendor/essential-grid/public/assets/js/jquery.themepunch.essential.min.js"></script>
        <script type='text/javascript' src='js/custom/__main.js'></script>
        <script type='text/javascript' src='js/vendor/jquery.cookie.min.js'></script>
        <script type='text/javascript' src='js/vendor/superfish.min.js'></script>
        <script type='text/javascript' src='js/custom/jquery.slidemenu.min.js'></script>
        <script type='text/javascript' src='js/custom/core.utils.js'></script>
        <script type='text/javascript' src='js/custom/core.init.js'></script>
        <script type='text/javascript' src='js/custom/theme.init.min.js'></script>
        <script type='text/javascript' src='js/custom/theme.shortcodes.js'></script>
        <script type='text/javascript' src='js/vendor/core.min.js'></script>
        <script type='text/javascript' src='js/vendor/widget.min.js'></script>
        <script type='text/javascript' src='js/vendor/tabs.min.js'></script>
        <script type='text/javascript' src='js/vendor/effect.min.js'></script>
        <script type='text/javascript' src='js/vendor/effect-fade.min.js'></script>
        <script type="text/javascript" src="js/vendor/isotope.pkgd.min.js"></script>
        <script type="text/javascript" src="js/vendor/prettyphoto/jquery.prettyPhoto.min.js"></script>

        <script type="text/javascript">
            $(function() {
                $("header").removeClass("cdnone");
            });
        </script>
    {% endblock end %}


{% endblock body %}
