{% extends "layout/base.html" %}

{% load static %}

{% block body %}

    {% block start %}

        <header class="top_panel_wrap top_panel_style_8 scheme_original cdnone">
            <div class="top_panel_wrap_inner top_panel_inner_style_8 top_panel_position_above">
                <div class="top_panel_middle">
                    <div class="content_wrap">
                        <div class="contact_info">
                            <address class="contact_address icon-location">
                                <div class="custom-1352">
                                    {{ text_snippets_general.adresse|linebreaks }}
                                </div>
                            </address>
                        </div>
                        <div class="contact_logo">
                            <div class="logo">
                                <a href="{% url 'website:index' %}">
                                    <img src="{% static 'img/logo_normal.png' %}" class="logo_main" alt="logo"
                                         style="width: 256px">
                                    <img src="{% static 'img/logo_normal.png' %}" class="logo_fixed" alt="logo"
                                         style="width: 200px">
                                </a>
                            </div>
                        </div>
                        <div class="menu_pushy_wrap clearfix">
                            <a href="#" class="menu_pushy_button">
                                MENÜ
                                <span class=" icon-menu"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>

    {% endblock start %}

    {% include "modules/navigation.html" %}

    {% block sub %}{% endblock sub %}

    {% block end %}
        {% include "modules/footer.html" %}
        <a href="#" class="scroll_to_top icon-up" title="Scroll to top"></a>
        <script type='text/javascript' src="{% static 'js/vendor/jquery-1.12.3.min.js' %}"></script>
        <script type='text/javascript' src="{% static 'js/vendor/jquery-migrate.min.js' %}"></script>
        <script type="text/javascript"
                src="{% static 'js/vendor/essential-grid/public/assets/js/lightbox.js' %}"></script>
        <script type="text/javascript"
                src="{% static 'js/vendor/essential-grid/public/assets/js/jquery.themepunch.tools.min.js' %}"></script>
        <script type="text/javascript"
                src="{% static 'js/vendor/essential-grid/public/assets/js/jquery.themepunch.essential.min.js' %}"></script>
        <script type='text/javascript' src="{% static 'js/custom/__main.js' %}"></script>
        <script type='text/javascript' src="{% static 'js/vendor/jquery.cookie.min.js' %}"></script>
        <script type='text/javascript' src="{% static 'js/vendor/superfish.min.js' %}"></script>
        <script type='text/javascript' src="{% static 'js/custom/jquery.slidemenu.min.js' %}"></script>
        <script type='text/javascript' src="{% static 'js/custom/core.utils.js' %}"></script>
        <script type='text/javascript' src="{% static 'js/custom/core.init.js' %}"></script>
        <script type='text/javascript' src="{% static 'js/custom/theme.init.min.js' %}"></script>
        <script type='text/javascript' src="{% static 'js/custom/theme.shortcodes.js' %}"></script>
        <script type='text/javascript' src="{% static 'js/vendor/core.min.js' %}"></script>
        <script type='text/javascript' src="{% static 'js/vendor/widget.min.js' %}"></script>
        <script type='text/javascript' src="{% static 'js/vendor/tabs.min.js' %}"></script>
        <script type='text/javascript' src="{% static 'js/vendor/effect.min.js' %}"></script>
        <script type='text/javascript' src="{% static 'js/vendor/effect-fade.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/isotope.pkgd.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/prettyphoto/jquery.prettyPhoto.min.js' %}"></script>
        <script type="text/javascript">
            $(function() {
                $("header").removeClass("cdnone");
            });
        </script>
    {% endblock end %}

{% endblock body %}
